
			

			body {
			color:blue;
			}

			p {
				color: red;
				text-decoration: underline;
				font-weight: bold;
			}
			p span {
				color:orange;
				font-size: 20px;
				text-transform: uppercase;
			}

